
.input-field {
  @apply w-full mb-4 px-4 py-3 bg-background/50 border rounded-md text-[14px] font-normal;
  border-color: #D3D3D3;
  font-family: 'Archivo', sans-serif;
}

.input-field:-webkit-autofill,
.input-field:-webkit-autofill:hover,
.input-field:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
}

.submit-button {
  @apply w-full mt-6 bg-sky-500 text-white py-3 rounded-lg transition-colors hover:bg-sky-600 flex items-center justify-center gap-2 text-[14px] font-medium;
  font-family: 'Archivo', sans-serif;
}
